<nav>
        <ul class="nav navbar fixed-top justify-content-between nav-header-style">
                <li class="nav-icon ml-2 mb-2">
                  <img src="/assets/images/ic_webBack@2x.png" alt="back navigation" style="width:15px;height:25px;" *ngIf="showNav" (click)="navClicked()">
                </li>
                <li class="nav-title">
                    Lunch Tyme
                </li>
                <li class="nav-icon mr-2 mb-2">
                    <img src="/assets/images/icon_map@2x.png" alt="map view" style="width:25px;height:25px;">
                </li>
        </ul>
</nav>
